<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Owners</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="'List of Owners'">List of Owners ...</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}">1</td>
        <td th:text="${owner?.firstname}">Joe</td>
        <td th:text="${owner?.lastname}">Willer</td>
    </tr>
    </tbody>
</table>
</body>
</html>